    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div class="main-container"> 

        <a href="/mail/" class="waves-effect waves-light btn indexButton purple darken-1" style="margin-top: 50px"><i class="material-icons right">mail</i>Mail Sender</a>
        <br>
        <a href="/auth/login" class="waves-effect waves-light btn indexButton purple darken-3" style="margin-top: 10px"><i class="material-icons right">chat</i>Chat Room</a>

    </div>

    <div style="text-align: center">
    <b>Santiago Nicolas Yanosky</b>
    </div>
   
  