
<link rel="stylesheet" href="/css/new-mail.css">

<div class="main-container">
    <form action="/auth/login" method="post">
        <div style="font-size: 35px; color: violet; margin-top: 10px">New Mail</div>
        <div class="input-field text-field"> 
        <input type="text" id="username" name="username" style="text-align:center" placeholder="Username"><br>
        </div>
        
        <div class="input-field text-field">
        <input class="input-field" type="password" id="password" name="password" style="text-align:center" placeholder="Password">
        </div>
        <button class="waves-effect waves-light btn purple darken-2">Log-in</button>
        <br>
        <br>
        Don't have an account? <a href="/auth/register" style="margin-bottom: 10px;">Sign-Up</a>

    </form>
</div>