
<link rel="stylesheet" href="/css/register.css">

<div class="main-container">
    <form action="/auth/register" method="post">
        <div style="font-size: 35px; color: purple; margin-top: 10px">Sign-Up</div>
        <div class="input-field text-field"> 
        <input type="text" id="username" name="username" style="text-align:center" placeholder="Username"><br>
        </div>
        
        <div class="input-field text-field">
        <input class="input-field" type="password" id="password" name="password" style="text-align:center" placeholder="Password">
        </div>
        <button class="waves-effect waves-light btn purple darken-2">Sign-Up</button>
    </form>
</div>