.main-container{
    width: 400px;
    height: 330px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border-style: solid;
    border-width: 10px;
    border-color: rgb(51, 2, 72);
    border-radius: 5%;

    text-align: center;

}

.text-field{
    margin-left: 20px;
    margin-right: 20px;
}